/node_modules
/vendor
/public/hot
/public/storage
/public/uploads/**/**/
public/uploads/
storage/**/
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_STORE
.vscode/**/
/bootstrap/cache
.vscode
deploy.sh
/public/site