.input-group .form-control {
    height: 50px !important;
}

.btn-unidades{
    padding: 20px !important;
}

.panel-accordion-midias a{
    background-color: chocolate !important;
}

.swal2-popup {
    font-size: 2rem !important;
}

/*ADD COMENTÁRIOS*/