.header-nav{
  background-color: rgb(0, 163, 217) !important;
}

.caracteristicas{
  padding-left: 0;
}

.caracteristicas li{
  font-size: 16px;
  color: rgb(88, 124, 138);
}

.caracteristicas input[type=checkbox]{
  width: 30px;
  height: 16px;
}

.caracteristicas li label{
  margin-top: -15px !important;
}

.txt-modalidade{
  color: #FFF !important;
}

.container.portal{
  max-width: 1370px !important;
}

h4.resumo{
  font-size: 16px !important;
  font-weight: lighter !important;
  text-align: justify !important;
}

.logo-construtora{
  max-width: 70px !important;
  height: auto !important;
}

.list-inline-item.subtipo{
  width: auto !important;
  color: #FFF !important;
}
.fp_price.valor-destaque{
  bottom: 15px !important;
  left: 10px !important;
  background-color: #0000008a !important;
  padding: 10px 15px !important;
}

header.header-nav.menu_style_home_one ul.ace-responsive-menu li.painel a {
  padding: 15px !important;
}

.home1-advnc-search .tipo-busca .search_option_two .dropdown.bootstrap-select>.dropdown-toggle {
  width: 300px !important;
}

.home1-advnc-search .bootstrap-select .dropdown-menu li a {
  width: 300px !important;
}

.home1-advnc-search ul li:nth-child(3) .form-group .form-control {
  width: 585px !important;
}